{% extends 'admin_base.html' %}

{% block admin_content %}

<div class="collection">
    {% for resume in resume_list %}
    <div class="collection-item">
        <h2><a href="{% url 'recruiting:read_admin_resume' club.pk resume.pk %}">{{ resume.title }}</a><br /></h2>
        <span>{{ resume.created_at }}에 작성</span>
    </div>
    {% empty %}
        <p class="collection-item">아직 만들어진 지원서 양식이 없습니다.</p>
    {% endfor %}
</div>

<a href="{% url 'recruiting:create_admin_resume' club.pk %}">
    <button class="btn">새 지원서 양식 만들기</button></a>
{% endblock %}