{% extends 'non_admin_base.html' %}

{% block non_admin_content %}
<div class="title" style="margin:10px 0; font-size: 30px; color:white; background-color: orangered;
    border-radius:200px; padding:20px; display:inline-block;">
    {{ club.club_name }} 지원서 - {{ resume.admin_resume.title }}</div>
<div class="resume" style="margin: 20px 0 30px; border: 1px solid darkgray; padding: 15px; width:100%;">
    <span id="applicant_resume-title" style="display: block; text-align: center; ">
        <h1>{{ resume.admin_resume.title }}</h1>
    </span>
    <table>
        <tr>
            <td>이름</td><td>{{ resume.applicant }}</td>
        </tr>
        <tr>
            <td>이메일</td><td>{{ resume.applicant.email }}</td>
        </tr>
        <tr>
            <td>전화번호</td><td>{{ resume.applicant.profile.phone_number }}</td>
        </tr>
        <tr>
            <td>학교</td><td>{{ resume.applicant.profile.school }}</td>
        </tr>
        <tr class="question_list">
        {% for question in resume.admin_resume.question_set.all %}
            {% if question.is_short_answer == True %}
                <td>{{ question.content }}</td>
                {% for answer in resume.shortanswer_set.all %}
                {% if answer.question == question %}
                <td>{{ answer.content }}</td>
                {% endif %}
                {% empty %}
                뭐없다야
                {% endfor %}
            {% endif %}
        {% endfor%}
        </tr>
    </table>

    {% if resume.use_image == True %}
    <span id="applicant_img">
        {{ resume.image }}
    </span>
    {% endif %}

    <div class="question_list">
        {% for question in resume.admin_resume.question_set.all %}
            {% if question.is_short_answer == False %}
                <span>{{ question.conent }}</span>
                {% for answer in resume.longanswer_set.all %}
                    {% if answer.question == question %}
                    <span>{{ answer.content }}</span>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor%}
    </div>

    <h3 style="text-align: center;"><strong>{{ resume.admin_resume.bottom_msg }}</strong></h3>
</div>

{% endblock %}