.background{
    background-color: orangered;
}

.search-set #search-form{
    margin: auto;
    text-align: center;
    border: 10px solid orangered;
    border-radius: 200px;
    height: 60px;
    width: 60%;
    background: None;
    display: block;
}

.side-nav strong{
    margin-left: 30px;
}

#search-btn{
    margin-top: 20px;
    width: 200px;
    height: 60px;
    background-color: orangered;
    font-weight: bold;
}

.search-set{
    text-align: center;
    position: relative;
    top: 90%;
}

#navigato{
    background-color: orangered;
}

.icon-dongkey{
    width: 70px;
    height: 90px;
    margin-right: 10px;
}