{% extends 'admin_base.html' %}

{% block admin_content %}

<div>
  apply list<br>
  ------------------------
  <div id='apply_list'>
    {% for list in apply_list %}
      {{ list.user.first_name }}{{ list.user.last_name }}&nbsp;&nbsp;&nbsp;
      <form style='display: inline-block;' method="POST" action="{% url 'club:admit' list.club.name list.user.pk %}">
        {% csrf_token %}
        <button type='submit'>admit</button>
      </form>
    {%empty%}
      no apply list
    {% endfor %}
  </div>

  <br><br><br><br>
  member list<br>
  ----------------------
  <div id='member_list'>
    {% for member in member_list %}
      {{ member.user.first_name }}{{ member.user.last_name }}<br>
    {% empty %}
      no club member
    {% endfor %}
  </div>

  <hr>

  <div id='about_club_rule'>
    <a href="{% url 'club:create_club_rule' club.name %}"><button>create new rule</button></a>
    <br>
    {% if club_rule %}
      {% for rule in club_rule %}
        <label>{{ rule.main_theme }}</label>
        {% if rule.sub_theme is not None %}
          <ul>
            <li>{{ rule.sub_theme }}</li>
              <ul>
                {{ rule.rule|linebreaks}}
              </ul>
          </ul>
        {% else %}
          <ul>
            {{ rule.rule|linebreaks }}
          </ul>
        {% endif %}
        <a href="{% url 'club:update_club_rule' club.name rule.pk %}"><button>update rule</button></a>
        <a href="{% url 'club:delete_club_rule' club.name rule.pk %}"><button>delete rule</button></a>
        <br><br><br>
      {% endfor %}

    {% else %}
      no club rule
    {% endif %}
  </div>

</div>
{% endblock %}