{% extends 'base.html' %}

{% block content %}

 <div class="base_wrapper">
    <div style="display: block; margin-bottom: 40px;">
        <span style="font-size: 50px; color: orangered;">
            <img class="club_emblem-dongkey" src="/static/img/orangered_donkey.png" />{{ club.name }}</span>
        {% if club.description %}
        <p>{{ club.description }}</p>
        {% else %}
        <p>{{ club.name }}에 오신 것을 환영합니다!</p>
        {% endif %}
    </div>
    <table class="base_menu">
        <tr>
            <td><a href="{% url 'club:read_non_admin_club' club.name %}" class="base_menu_item">동아리 홈</a></td>
            <td><a href="{% url 'board:article_list' club.pk %}" class="base_menu_item">게시판</a></td>
            <td><a href="#" class="base_menu_item">동아리 회칙</a></td>
            <td><a href="#" class="base_menu_item">동아리 회계정보</a></td>
            <td><a href="{% url 'recruiting:create_applicant_resume_list' club.pk %}" class="base_menu_item">동아리 지원하기</a></td>
        </tr>
    </table>
</div>
    {% block non_admin_content %}{% endblock %}
{% endblock %}
dssd